@import 'variables';

// .woff - Modern browsers
// .ttf - Safari, android, ios

@font-face {
    font-family: 'OpenSans';
    font-stretch: normal;
    font-style: normal;
    font-weight: $font-weight;
    src:
        url('/static/#{$font-family-path}/OpenSans-Regular.ttf') format('ttf')
        // url('#{$font-family-path}/OpenSans-Bold.woff') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-stretch: normal;
    font-style: normal;
    font-weight: $font-weight-bold;
    src:
        url('/static/#{$font-family-path}/OpenSans-Bold.ttf') format('tff')
        // url('#{$font-family-path}/OpenSans-Bold.woff') format('truetype');
}

// @font-face {
//     font-family: 'fakt-normal';
//     font-stretch: normal;
//     font-style: normal;
//     font-weight: $font-weight;
//     src:
//         url('#{$font-family-path}/FaktPro-Normal.woff') format('woff'),
//         url('#{$font-family-path}/FaktPro-Normal_web.woff') format('truetype');
// }